# Alibaba Cloud Key Setting
access_key               = "YOUR_ACCESS_KEY"
secret_key               = "YOUR_SECRET_KEY"
# SSH Publickey
publickey                = "YOUR_PUBLICK_KEY"
# VPC  Regeon A (Distination)
region-a                 = "ap-northeast-1"
zone_region-a            = "ap-northeast-1a"
vpc_name_region-a        = "vpc_cen_test"
vpc_cidr_region-a        = "10.0.0.0/8"
vsw_cidr_region-a        = "10.0.1.0/28"
# VPC Regeon B (Client)
region-b                 = "cn-shanghai"
zone_region-b            = "cn-shanghai-a"
vpc_name_region-b        = "vpc_cen_test2"
vpc_cidr_region-b        = "172.16.0.0/12"
vsw_cidr_region-b        = "172.16.255.0/28"
# CEN Setting
cen_name                 = "cen_test"
cen_description          = "test desc"
# VPN Gateway setting
vpn_gateway_name         = "testcen"
vpn_gateway_description  = "testcen"
ssl_vpn_server_name      = "testcen"
client_ip_pool           = "10.255.255.0/28"
ssl_vpn_client_cert_name = "cencert1"
# Squid Setting
dest-domains             = "DEST_DOMAINS"
